@media (max-width: 767.98px) {
	.f1 {
		font-size: 30px;
	}

	.content {
		padding-top: 80px;
	}

	.space {
		padding: 49px 0;
		overflow: hidden;
	}
	.space-x {
		padding: 0 30px;
	}

	.container {
		width: 100%; /* Full width for mobile */
		/* padding: 0 15px;  */
	}

	.col-md-6,
	.col-md-12 {
		flex: 0 0 100%; /* Full width columns */
		max-width: 100%; /* Full width columns */
	}

	.col-md-3,
	.col-md-4 {
		flex: 0 0 100%; /* Full width columns */
		max-width: 100%; /* Full width columns */
	}

	.h {
		line-height: 30px;
	}
	.psize {
		font-size: 20px;
	}
	.lh {
		line-height: 33px;
	}
	.wbox {
		border-top: 2px solid black;
		background-color: white;
		color: black;
		width: 99%;
		height: auto;
		padding: 20px;
		margin-top: 35px;
	}
	.ibox {
		height: 100%;
		width: 32%;
	}
	.overlay-container {
		margin-top: 10px;
	}
	.sb,
	.black,
	.white {
		height: 4vh;
	}
	.overlay {
		background: transparent;
	}
	::marker {
		display: none;
		color: transparent;
	}
	ol,
	ul {
		padding-left: 0;
	}
	.fs {
		/* padding-left: 8px; */
		font-size: 13px;
	}

	.heading {
		font-size: 28px; /* Adjusted font size for extra small screens */
	}

	.heading1 {
		font-size: 18px; /* Adjusted font size for extra small screens */
		padding-top: 20px;
	}

	.bannerH1 {
		font-size: 20px; /* Smaller font size */
	}

	.bannerp {
		font-size: 14px; /* Smaller font size */
	}



	.subscribe {
		font-size: 12px; /* Smaller font size */
		height: auto; /* Adjust height */
	}

	.black,
	.white {
		font-size: 12px; /* Smaller font size */
	}

	.arrow-icon {
		height: 14px; /* Smaller icon for extra small screens */
	}


	.cspace {
		margin-top: 33px;
	}

	.sb {
		padding: 8px;
		margin-left: 5px;
	}

	.buildingImg {
		height: 100%;
		width: 100%;
		animation: none;
	}
	.building {
		height: 100vh;
	}
	.text1 {
		left: 12px; /* Adjust text positioning */
		padding: 10px; /* Reduce padding for smaller screens */
	}
}
